{% extends 'user/base.html' %}
{% load static %}

{% block static %}<link rel="stylesheet" href="{% static 'homecss.css' %}">{% endblock %}
{% block title %}Equipment Borrowing System{% endblock %}

{% block content %}
    <section class="welcome">
        <div class="welcome-text">
            <h2>Welcome to Desert</h2>
            <h3>Equipment Borrowing System for Laboratory Facilities</h3>
            <a href="{% url 'catalog_user' %}">
                <button class="get-starts-btn">Get Starts</button>
            </a>
        </div>
    </section>
{% endblock %}