{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Device Management</title>
    <link rel="stylesheet" href="{% static 'catalog admin.css' %}">
</head>

<body>
    <div class="container">
        <h1>Catalog Admin</h1>

        <a href="{% url 'home_admin' %}" >HOME</a>
        <a href="{% url 'catalog_admin' %}" >CATALOG</a>
        <a href="{% url 'report_admin' %}" >REPORT</a>
        <a href="{% url 'history_admin' %}" >HISTORY</a>
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" id="logout-btn" >Logout</button>
        </form>

        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Picture</th>
                    <th>Device Name</th>
                    <th>Parcel Number</th>
                    <th>Brand</th>
                    <th>Status</th>
                    <th>Date Borrow</th>
                    <th>Date Return</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                {% for device in devices %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><img src="{{ device.image.url }}" alt="Device image" style="width: 50px; height: 50px;"></td>
                    <td>{{ device.name }}</td>
                    <td>{{ device.parcel_id }}</td>
                    <td>{{ device.brand }}</td>
                    <td>
                        {% if device.status %}
                        <span class="status unavailable" style="color: red;">Unavailable</span>
                        {% else %}
                        <span class="status available" style="color: green;">Available</span>
                        {% endif %}
                    </td>


                    <td>{{ device.date_borrow|date:"Y-m-d" }}</td>
                    <td>{{ device.date_return|date:"Y-m-d" }}</td>
                    <td>
                        <a class="edit-btn" href="{% url 'edit_admin' device.equipment_id %}">Edit</a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="7">No devices available.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>

</html>