<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Borrowing</title>
</head>
<body>
    <form class="bd-example" method="post" action="">
        {% csrf_token %}
        <fieldset>
            <legend>Borrowing</legend>
            <label for="id_name" class="form-label">Equipment name: </label>
            <select id="id_name">
                <option value="">-- Select --</option>
                {% for product in products %}
                  <option value="{{ product.name }}">{{ product.name }}</option>
                {% endfor %}
            </select>

            <label for="id_parcel_id" class="form-label">Parcel ID: </label>
            <select id="product_id">
                <option value="">-- Select --</option>
                {% for product in products %}
                  <option value="{{ product.parcel_id }}">{{ product.parcel_id }}</option>
                {% endfor %}
            </select>
            
            <label for="id_brand" class="form-label">Brand: </label>
            <select id="brand">
                <option value="">-- Select --</option>
                {% for product in products %}
                  <option value="{{ product.brand }}">{{ product.brand }}</option>
                {% endfor %}
            </select>

            <p>
                <label for="date">Borrowing date</label>
                <input type="date" id="date">

                <label for="date">Return date</label>
                <input type="date" id="date">
            </p>
          
            <button type="submit">Button submit</button>
        </fieldset>
    </form>
</body>
</html>