{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalog for Borrowing</title>
    <link rel="stylesheet" href="{% static 'catalog_user.css' %}">  
</head>

<body>  
    <header>
        <div class="logo">
            <img src="{% static 'logo_empty.png' %}" alt="Logo">
            <div class="text-content">
                <span class="logo-letters">B <span class="red-letter">L</span> F</span>
                <div class="logo-subtext">Equipment borrowing</div>
                <div class="logo-subtext">System for Laboratory</div>
                <div class="logo-subtext">Facilities</div>
            </div>
        </div>
        
        
        <nav>
            <ul>
                <li><a href="#">HOME</a></li>
                <li><a href="#">CATALOG</a></li>
                <button id="logout-btn" class="logout-btn">Logout</button>
            </ul>
        </nav>
    </header>

    <div class="container">
        <h1>Catalog for Borrowing</h1>
        <header>
            <div class="header-left">
                <input type="text" placeholder="Search..." id="search-bar">
                <form action="" method="post">
                    {% csrf_token %}
                    <span>Status: </span>
                    <select id="status-dropdown" name="filter" onchange="this.form.submit();">
                        <!-- <option value="all">All</option>
                        <option value="available">Available</option>
                        <option value="unavailable">Unavailable</option>
                        <option value="damaged">Damaged</option> -->
                        {% for status in all_status %}
                            <option value="{{ status.name }}">
                                {{ status.name }}
                            </option>
                        {% endfor %}
                    </select>
                </form>
            </div>
            <form action="{% url 'borrow_request' %}" method="get">
                <button id="request-button" type="submit">Borrowing</button>
            </form>
        </header>

        <table>
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Picture</th>
                    <th scope="col">Equipment Name</th>
                    <th scope="col">Parcel ID</th>
                    <th scope="col">Brand</th>
                    <th scope="col">Date Borrow</th>
                    <th scope="col">Date Return</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                {% for equipment in all_equipment %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td><img src="{{ equipment.image.url }}" alt="{{ equipment.name }}"></td>
                        <td>{{ equipment.name }}</td>
                        <td>{{ equipment.parcel_id }}</td>
                        <td>{{ equipment.brand }}</td>
                        <td>
                            {% if equipment.date_borrow %}
                                {{ equipment.date_borrow|date:"d-m-Y" }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td>
                            {% if equipment.date_return %}
                                {{ equipment.date_return|date:"d-m-Y" }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td>
                            {% if equipment.status %}
                                <span class="status unavailable">Unavailable</span>

                            {% else %}
                                <span class="status available">Available</span>
                            
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>