{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="{% static 'login_studentCss.css' %}">
</head>

<body>
    <div class="container">
        <div class="login form">
            <header>Forgot Password</header>
            <form action="" method="post">
                {% csrf_token %}
                <input type="email" name="email" placeholder="Enter your email">
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}" role="alert">
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}
                <input type="submit" class="button" value="Reset Password">
            </form>
            <div class="signup">
                <span class="signup">Remember your password? <a href="{% url 'login' %}">Login</a></span>
            </div>
        </div>
    </div>
</body>

</html>