.container {
    text-align: center;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 200px;
    height: 200px;
}

.btn {
    background-color: red;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 12px;
    width: 200px; /* เพิ่มบรรทัดนี้เพื่อกำหนดความกว้าง */
}