{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Equipment Borrowing System</title>
    <link rel="stylesheet" href="{% static 'homecss.css' %}">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'home_staff' %}">HOME</a></li>
                <li><a href="{% url 'catalog_staff' %}">CATALOG</a></li>
                <li><a href="{% url 'approval_staff' %}">APPROVAL</a></li>
                <li><a href="{% url 'history_staff' %}">HISTORY</a></li>
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" id="logout-btn" class="logout-btn">Logout</button>
                </form>
        
            </ul>
        </nav>
    </header>
    <section class="welcome">
        <div class="welcome-text">
            <h2>Welcome to Desert</h2>
            <h3>Equipment Borrowing System for Laboratory Facilities</h3>
            <a href="{% url 'catalog_staff' %}">
                <button class="get-starts-btn">Get Starts</button>
            </a>
        </div>
    </section>
</body>

</html>