body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    background-color: #ffffff;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 70px; 
    height: auto; 
    margin-right: 5px;
}

.logo-letters {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 3px;
}

.red-letter {
    color: red;
}

.logo-subtext {
    font-size: 10px;
    color: black;
    text-align: left; 
}

.text-content {
    display: flex;
    flex-direction: column; 
    margin-left: 10px; 
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: rgb(7, 7, 7);
    text-decoration: none;
    font-size: 18px;
    padding-bottom: 5px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #000000;
}

nav ul li a:focus, 
nav ul li a:active {
    position: relative;
    outline: none;
}

nav ul li a:focus::after, 
nav ul li a:active::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 3px;
    background-color: red;
}

a[href*="Catalog"] {
    text-decoration: underline;
    text-decoration-color: red;
    text-decoration-thickness: 3px;
}

.logout-btn {
    background-color: #ff3333;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
    margin-left: 30px;
    border-radius: 5px;
    position: relative;
}

.logout-btn:hover {
    background-color: #e60000;
}

h1 {
    text-align: center;
}

.container {
    width: 90%;
    margin: 10px auto;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 10px;
}