.welcome {
    position: relative;
    background-image: url('https://media.cntraveler.com/photos/57211a96fe5fd76f60bc2764/16:9/w_2580,c_limit/deserts-Sahara-cr-GettyImages-74732427.jpg');
    background-size: cover;
    background-position: center;
    height: 650px;
    width: 400;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-text {
    text-align: center;
    color: white;
}

.welcome-text h2 {
    font-size: 36px;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.get-starts-btn {
    margin-top: 20px;
    padding: 10px 30px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
}
