* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #ffffff;
}

.logo {
    display: flex;
    align-items: left;
}

.logo img {
    width: 200px;
    height: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
}

header h1 {
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px;
}

nav {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

nav a {
    margin-left: 10px;
    text-decoration: none;
}

nav button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.register-btn {
    background-color: #ff0000;
    color: white;
}

.login-btn {
    background-color: #ff0000;
    color: white;
}

.Equipment {
    position: relative;
    background-image: ;
    background-size: cover;
    background-position: center;
    height: 650px;
    display: flex;
    justify-content: flex-end; /* Align content to the right */
    align-items: center;
}

.Equipment-text {
    text-align: right;
    color: black;
    margin-right: 150px;
}

.Equipment-text h2 {
    font-size: 36px;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.get-starts-btn {
    margin-top: 20px;
    padding: 10px 10px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: 1px solid black; 
    cursor: pointer;
    font-size: 18px;
    border-radius: 50px; 
}


