h1 {
    text-align: center;
}

.container {
    width: 90%;
    margin: 20px auto;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

#search-bar {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.status-label {
    display: flex;
    align-items: center;
    gap: 10px;
}

#status-dropdown {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

#request-button {
    padding: 8px 12px;
    background-color: #a50101;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#disabled-button {
    padding: 8px 12px;
    background-color: #bdbcbc;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}

#request-button:hover {
    background-color: #45a049;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 2px solid #000;
}

thead {
    background-color: #f44336;
    color: white;
    border-bottom: 2px solid #000; 
}

th, td {
    padding: 12px;
    text-align: left;
    border: 1px solid #000; 
}


img {
    width: 50px;
    height: auto;
}

.status.available {
    color: green;
    font-weight: bold;
}

.status.unavailable {
    color: red;
    font-weight: bold;
}